/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Apr-2016, 00:00:32
    Author     : saufi
*/

.bg-home{
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.home{
    margin-top: 17%;
    text-align: center;
    font-size: 100%;
 

}

.home h1{
    font-size: 350%;
 
}
/**
----------------------------------------------------
*/
.register-form{
    margin-top: 8%
}

.register-bg{
   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 15%;
}
/**
----------------------------------------------------
*/

.login-form{
    margin-top: 15%
}

.login-bg{
   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 15%;
}

/**
----------------------------------------------------
*/

.home-user-1{
    margin-top: 8%;
}

box-user-status{
    border: 1px solid #eee;
}